{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <section class="sec one">
        <div class="inner">
            <div class="image">
                <img src="{% static 'base/imgs/windmill.jpg' %}">
            </div>
            <div class="content">
                <h2>差也能求能國金，們方創中只用病動家著的黨房期情已子雖近分果？</h2>
                <p>
                    服戰好著經時，先走現由時身內驚發實；三院生愛你學為！時機高；曾要開溫？果多是故質收廣可能度分我們教著日。主這們？我學片故部總里為中、葉不球件百半！理說後者不他洋早我筆回集區個支下克合不影面好標作然得？</p>
            </div>
        </div>
        </div>
    </section>
    <section class="sec one">
        <div class="inner">
            <div class="image">
                <img src="{% static 'base/imgs/windmill.jpg' %}">
            </div>
            <div class="content">
                <h2>差也能求能國金，們方創中只用病動家著的黨房期情已子雖近分果？</h2>
                <p>
                    服戰好著經時，先走現由時身內驚發實；三院生愛你學為！時機高；曾要開溫？果多是故質收廣可能度分我們教著日。主這們？我學片故部總里為中、葉不球件百半！理說後者不他洋早我筆回集區個支下克合不影面好標作然得？</p>
            </div>
        </div>
        </div>
    </section>
<!--
<section id="intro-header">
      <div class="container">
         <div class="row">
             <div class="wrap-headline">
                 <h1 class="text-center content">校園氣象站</h1>
                 <h2 class="text-center">及時數據</h2>
                 <ul class="list-unstyled text-center">

            <li>現在時間：{{weather.time}}</li>
            <li>觀測地點：台北市立內湖高級中學</li>
            <li>氣溫：{{weather.temperature}}&deg;C</li>
            <li>濕度：{{weatehr.humidity}}%</li>
            <li>紫外線：{{weather.uv}}AV</li>
            <li>光強度：{{weather.light}}</li>
            <li>空氣汙染值：{{weather.pm}}</li>
        </ul>
             </div>
         </div>
     </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>鉅細靡一 四季如一</h3>
                    <p>使用樹梅派<br>
                    <br>
                    <br>
                    <br>
                    <br>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="{% static 'base/imgs/windmill.jpg' %}" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

        <section id="about">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-6">
                    <img src="{% static 'base/imgs/windmill.jpg' %}" class="img-responsive hidden-xs">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="{% static 'base/imgs/windmill.jpg' %}" class="img-responsive visible-sm">
                    <h3>開放資料 </h3>
                    <p>提供動態圖表<br/>
                    </p>
                </div>
                <div class="col-xs-12 visible-xs">
                    <img src="{% static 'base/imgs/windmill.jpg' %}" class="img-responsive">
                </div>
            </div>


        </div>

    </section>
-->
{% endblock %}