<!--base.html-->
{% load static %}
<! DOCTYPE html>
    <html >
        <head lang="zh-Hant-TW">
            <title>校園氣象站</title>
            <meta name="viewport" content="width=device-width ,initial-scale=1">
            <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- prevent from getting /favicon.ico HTTP/1.1" 500 107507-->
            <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'base/css/grid.css' %}">
            <link rel="stylesheet" href="{% static 'base/css/normalize.css' %}">
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
        </head>
        <body style="padding-top: 100px;">
			{% include 'header.html' %}
            {% block content %} {% endblock %}
            <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="{% static 'base/js/base.js' %}"></script>
            {% block js %}{% endblock js %}
        </body>
    </html>
