{% block content %}
{% load static %}
<header class="index full" style="background-image: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url(https://unsplash.com/photos/n5wwck8ES4w/download?force=true);">
        <nav class="nav">
            <ul>
                <li><a href="/"><i class="icon-home"></i>Home</a></li>
                <li><a href="/data"><i class="icon-stats-dots"></i>數據觀測</a></li>
                <li><a href="/about.html"><i class="icon-users"></i>關於我們</a></li>
                <li><a href="https://github.com/oxygen-TW/Weather-Station"><i class="icon-github"></i>Github</a></li>
            </ul>
        </nav>
    </header>
    <nav></nav>
{% endblock %}