{% block content %}
{% load static %}

        <nav class="nav">
            <ul>
                <li><a href="{% url 'home' %}"><i class="icon-home"></i>Home</a></li>
                <li><a href="{% url 'status' %}"><i class="icon-stats-dots"></i>數據觀測</a></li>
                <li><a href="{% url 'about' %}"><i class="icon-users"></i>關於我們</a></li>
                <li><a href="https://github.com/oxygen-TW/Weather-Station"><i class="icon-github"></i>Github</a></li>
            </ul>
        </nav>

{% endblock %}