bkcharts==0.2
bokeh==0.12.3
certifi==2017.7.27.1
chardet==3.0.4
dj-static==0.0.6
Django==2.2.24
django-rest-framework==0.1.0
djangorestframework==3.6.4
idna==2.6
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.1
PyMySQL==0.7.11
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
six==1.10.0
static3==0.7.0
tornado==4.5.2
urllib3==1.22
