{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="station-list">
        <div class="container">
            <div class="cards">
                <div class="weather">
                    <div class="station">台北市立內湖高中</div>
                    <div class="tempature">
                        <span class="value">{{weathers.temperature}}</span>
                        <i class="icon-Celsius"></i>
                        <i class="large icon-cloudy"></i>
                    </div>
                    <div class="status">
                        <div class="wind">
                            <i class="icon-wind"></i><span class="value">23</span><span> km/h</span>
                        </div>
                        <div class="humidity">
                            <i class="icon-rainy2"></i><span class="humidity">{{weathers.humidity}}</span>
                        </div>
                    </div>
                    <div class="actions">
                        <a class="btn btn-flat">Full Report</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div id="container2" style="width:100%; height:400px;"></div>
<!--
<div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
<script>
	var chart_id = {{ chartID|safe }}
	var series = {{ series|safe }}
	var title = {{ title|safe }}
	var xAxis = {{ xAxis|safe }}
	var yAxis = {{ yAxis|safe }}
	var chart = {{ chart|safe }}
</script>
-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/drilldown.js"></script>
{% endblock content%}

{% block js %}
<script src="{% static 'pages/js/chart.js' %}"></script>
<script src="{% static 'pages/js/graphic.js' %}"></script>
{% endblock js %}

