{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="station-list">
        <div class="container">
            <div class="cards">
                <div class="weather">
                    <div class="station">台北市立內湖高中</div>
                    <div class="tempature">
                        <span class="value">{{weathers.1.temperature}}</span>
                        <i class="icon-Celsius"></i>
                        <i class="large icon-cloudy"></i>
                    </div>
                    <div class="status">
                        <div class="wind">
                            <i class="icon-wind"></i><span class="value">23</span><span> km/h</span>
                        </div>
                        <div class="humidity">
                            <i class="icon-rainy2"></i><span class="humidity">{{weathers.humidity}}</span>
                        </div>
                    </div>
                    <div class="actions">
                        <a class="btn btn-flat">Full Report</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="col-md-12">
        {{ div|safe }}
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
Highcharts.chart('container', {
chart: {
type: 'line'
},
title: {
text: '歷史24小時天氣變化'
},

xAxis: {
categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
},
yAxis: {
title: {
text: 'Temperature (°C)'
}
},
plotOptions: {
line: {
dataLabels: {
enabled: true
},
enableMouseTracking: false
}
},
series: [{
name: '台北市立內湖高中',
data: {{weathers.rainfall}}
}, ]
});
</script>
{% endblock %}